<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>cars</servlet-name>
        <servlet-class>org.jecars.servlets.cars</servlet-class>
        <init-param>
            <param-name>JECARS_REPHOME</param-name>
            <param-value>../data/rep</param-value>
        </init-param>
        <init-param>
            <param-name>JECARS_REPLOGHOME</param-name>
            <param-value>../data/logs</param-value>
        </init-param>
        <init-param>
            <param-name>JECARS_NAMESPACES</param-name>
            <param-value>jcr,http://www.jcp.org/jcr,jecars,http://jecars.org</param-value>
        </init-param>
        <init-param>
            <param-name>JECARS_CNDFILES</param-name>
            <param-value>/org/jecars/jcr/nodetype/jecars.cnd,jecars.cnd</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>cars</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
